*{
    box-sizing: border-box;

}
main{
    text-align: center;
    margin-top: 10rem;
}
img{
    width: 10rem;
    max-height: 5rem;
}
section{
    margin: 3rem;
}
li{
    text-align: left;
}
article{
    font-weight: bold;
}
h1{
    font-family: sans-serif;
}

ul{
    font-weight: lighter;
    padding-left: 34rem;
    margin-inline: auto;
}
.rotated {
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
  }